<nav class="navbar navbar-toggleable-md navbar-light navbar-custom" 
  *ngIf="progress.isActive('top_menu_unlocked')">
  <button class="navbar-toggler navbar-toggler-right" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarNavDropdown">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">
    {{lang.txt("menu_label")}}
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" 
            data-toggle="dropdown">
          {{lang.txt("options_dropdown")}}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item btn" (click)="save.clear()">
            <span class="badge badge-danger">{{lang.txt("danger_badge")}}</span>
            {{lang.txt("reset_save_file")}}
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col text-center">
      <h1>
        {{lang.txt("title")}}
      </h1>
      {{lang.txt("credits")}}
    </div>
  </div>


  <div class="row justify-content-center" *ngIf="progress.isActive('button_pressed')">
    <div class="col text-center">
      <h4>
        <div [class.hop-animation] = "isOnClickMeButtonShakeAnimation">
          {{lang.Txt(currency.tagP(0))}}: {{currency.xcount(0)}}
        </div>
        <small *ngIf="progress.isActive('generic_clicker_purchase')">
          (
            {{xcps()}}
            {{lang.Txt(currency.tagS(0))}}/{{lang.txt("s")}}
          )
        </small>
      </h4>
    </div>
  </div>

  <div class="row core-row align-items-top">

    <div class="col">
      <div class="row justify-content-top" *ngIf="progress.isActive('upgrade_tab_unlocked')">
        <div class="col text-center">
          <app-upgrade-panel></app-upgrade-panel>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row justify-content-top">
        <div class="col text-center">
          <button type="button" 
                  class="btn btn-lg btn-primary big-button" 
                  (click)="click()"
                  [class.shake-animation] = "isOnClickMeButtonShakeAnimation">
            <h2>
              {{lang.txt("click_button_text")}}
            </h2>
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row justify-content-top" *ngIf="progress.isActive('clicker_panel_unlocked')">
        <div class="col text-center">
          <app-clicker-panel></app-clicker-panel>
        </div>
      </div>
    </div>

  </div>

  
  <div class="row core-row align-items-top">
    <div class="col">
      <div class="row justify-content-top" *ngIf="progress.isActive('events_feed_unlocked')">
        <div class="col text-center">
          <app-event-feed></app-event-feed>
        </div>
      </div>
    </div>
  </div>

</div>
