<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h1>
        {{lang.txt("title")}}
      </h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col text-center">
      <div *ngIf="click_enabled">
        {{lang.txt("Clicks")}}: {{num_clicks_shown}}
      </div>
      <div *ngIf="money_enabled">
        {{lang.txt("Money")}}: {{num_money_shown}}
      </div>
      <div *ngIf="clickers_enabled">
        {{lang.txt("Clickers")}}: {{num_clickers_shown}}
      </div>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col text-center">
      <button type="button" class="btn btn-primary" (click)="click()">{{lang.txt("Click Me")}}</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col text-center">
      <button type="button" 
              *ngIf="num_clicks_shown >= money_cost_shown * reveal_modifier || money_enabled" 
              class="btn btn-primary" 
              [disabled]="num_clicks_shown < money_cost_shown" 
              (click)="buyMoney()">

        {{lang.txt("Convert")}}
        {{lang.txt("Clicks")}}
        {{lang.txt("to Money")}}
        <br/>
        (
        {{lang.txt("Requires")}}
        {{money_cost_shown}}
        {{lang.txt("Clicks")}}
        )

      </button>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col text-center">
      <button type="button" 
              *ngIf="num_money >= clicker_cost_shown * reveal_modifier || clickers_enabled"
              class="btn btn-primary" 
              [disabled]="num_money_shown < clicker_cost_shown" 
              (click)="buyClicker()">

        {{lang.txt("Buy")}}
        1
        {{lang.txt("Clicker")}}
        <br/>
        (
        {{lang.txt("Costs")}}
        {{clicker_cost_shown}}
        {{lang.txt("Money")}}
        )
      </button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col text-center">
      <button
            *ngIf="num_clicks_shown >= investiments_min_clicks_to_enable || investiments_enabled" 
            type="button" 
            class="btn btn-outline-primary" 
            (click)="investiments_collapsed = !investiments_collapsed">
        {{lang.txt("Show")}}/{{lang.txt("Hide")}} {{lang.txt("Investiments")}}
      </button>
    </div>
  </div>

  <div class="row justify-content-center" [ngbCollapse]="investiments_collapsed">
    <div class="col text-center">

      <div class="card">

        <div class="row justify-content-center">
          <div class="col text-center">
            {{lang.txt("Multiplier")}}: 
            {{money_invested_multiplier}} 
            ( 
            {{money_investiment_added_per_second_shown}} 
            {{lang.txt("money")}} 
            {{lang.txt("per")}} 
            {{lang.txt("second")}}
            )
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            {{lang.txt("Money")}} {{lang.txt("Invested")}}: {{money_invested_shown}}
            <button
                  type="button" 
                  class="btn btn-primary" 
                  (click)="addInvestiment()">
              {{lang.txt("Permanently")}} {{lang.txt("Add")}}
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            {{lang.txt("Money")}}
            {{lang.txt("Available")}}
            {{lang.txt("for")}}
            {{lang.txt("Withdraw")}}:
            {{money_invested_withdraw_shown}}
            <button
                  type="button" 
                  class="btn btn-primary" 
                  (click)="withdrawInvestiment()">
              {{lang.txt("Withdraw")}}
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col text-center">
      <small>
        {{lang.txt("credits")}}
      </small>
    </div>
  </div>

</div>
