<div  class="card panel-item left-in-animation"
    *ngIf="!is_closed && progress.isActive(actual_event.tagR()) && !progress.isActive(actual_event.tagDone())">
  <div class="card-block">
    <div class="row">
      <div class="col">
        <h4>
          {{lang.txt(events.tagN(eventTag))}}
        </h4>
        {{lang.txt(events.tagD(eventTag))}}
        <app-single-button-event *ngIf="isSingleButtonEvent()"
                                  [event]="actual_event"
                                  (close)="onClose()" >
        </app-single-button-event>
      </div>
    </div>
  </div>
</div>