/* You can add global styles to this file, and also import other style files */
$panel-item-bg-color: #dee7ed;
$panel-item-margin: 5px;
$panel-item-padding: 6px;

html,
body
{
  height: 100%;
}

.row
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-item
{
  background-color: $panel-item-bg-color;
  margin: $panel-item-margin;
  font-size: 80%;

  &.disabled
  {
    opacity: 0.3;
  }

  &.card
  {
    padding: $panel-item-padding;
      padding-top: 0px;
      padding-bottom: 0px;

    & > .card-block
    {
      padding: $panel-item-padding;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

}

.btn
{
  cursor: pointer;
}

.container {
  padding-top: 25px;
  padding-bottom: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 20px;
  margin: 5px;
}

.big-button
{
  width: 320px;
  height: 180px;
}

.main-row
{
  display: flex;
  flex-grow: 1;
}

.shake-animation {
  animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, -2px, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, -2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 2px, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 2px, 0);
  }
}

.hop-animation {
  animation: hop 0.1s linear;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  display: block;
}

@keyframes hop {
  10%{
    transform: translate3d(0, -4px, 0);
  }
}